.result-search__title-link {
    font-family: 'Roboto Slab', Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #1A1B22;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .result-search__title-link {
        line-height: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .result-search__title-link {
        font-size: 26px;
        line-height: 30px;
    }
}