.result-search__button {
    display: block;
    width: 288px;
    background: #FFFFFF;
    border-radius: 80px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    border: 1px solid #FFFFFF;
    margin: 0 auto 0;
}

.result-search__button:hover {
	background: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
    .result-search__button {
        width: 240px;
        margin: 15px auto 0;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .result-search__button {
        width: 288px;
        margin: 65px auto 0;
        padding: 0;
    }
}