.result-search__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
}

@media screen and (min-width: 500px) {
    .result-search__cards {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
}

@media screen and (min-width: 1224px) {
    .result-search__cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}
