@import url(./_text/author__text.css);
@import url(./__about/author__about.css);
@import url(./__paragraph/author__paragraph.css);
@import url(./__photo/author__photo.css);
@import url(./__title/author__title.css);

.author {
    background: #fff;
}

@media screen and (min-width: 768px) {
    .author {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .author {
        padding-bottom: 80px;
    }
}