.glide__bullets {
    -webkit-touch-callout: none;
    user-select: none;
}

.glide__bullets {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%);
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .glide__bullets {
        bottom: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .glide__bullets {
        bottom: -10px;
    }
}