.input {
    min-height: 56px;
    border-radius: 100px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
}

.input:hover {
	cursor: pointer;
}

.search__input.input {
		cursor: default;
}

@media screen and (min-width: 1024px) {
    .input {
        min-height: 64px;
    }
}