.glide {
    margin-bottom: 56px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .glide {
        margin: 0 0 24px;
    }
}
@media screen and (min-width: 768px) {
    .glide {
        margin-bottom: 0px;
        padding-bottom: 40px
    }
}

.glide * {
    box-sizing: inherit;
}

.glide--rtl {
    direction: rtl;
}

.glide--swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.glide--dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
