.requested-info {
	margin-bottom: 24px;
}

@media screen and (min-width: 600px) {
	.requested-info {
      margin-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .requested-info {
        margin-bottom: 80px;
    }
}