.footer__link {
    text-decoration: none;
    font-family: 'Source Sans Pro', Arial,  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: #1A1B22;
}

@media screen and (min-width: 700px) {
    .footer__link {
        line-height: 24px;
    }
}