
.result-search__link {
    text-decoration: none;
    font-family: 'Roboto Slab', Georgia, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding-bottom: 14px;
    display: block;
    color: #B6BCBF;
    padding-top: 6px;
}

@media screen and (min-width: 768px) {
    .result-search__link {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .result-search__link {
        margin-top: 13px;
         padding-bottom: 24px;
    }
}