.result-search__card {
    display: block;
    width: 100%;
    max-height: 576px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 13px;
    /* margin: 0 auto; */
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .result-search__card {
        width: 100%;
        margin-bottom: 0;
    }
}

.result-search__card {
    box-shadow: 0px 26px 58px -26px rgba(8, 29, 45, 0.1);
}
