.header__menu-link.header__menu-link_activ-black {
    color: #1A1B22;
}

.header__menu-link.header__menu-link_activ-black:hover {
    color: #1A1B22;
}

.header__menu-link_activ-black:after {
    content: " ";
    height: 2px;
    width: 100%;
    display: block;
    background: #1A1B22;
    position: absolute;
    bottom: 0;
}
