.header__menu-link.header__menu-link_activ {
    color: #fff;
}

.header__menu-link.header__menu-link_activ:after {
    content: " ";
    height: 2px;
    width: 100%;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0;
}
