.result-search__title {
    padding-top: 33px;
    font-family: 'Roboto Slab', Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #1A1B22;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .result-search__title {
        padding-top: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .result-search__title {
        padding-top: 80px;
        font-size: 40px;
        line-height: 46px;
    }
}