@import url(./__title/technologies__title.css);
@import url(./__name/technologies__name.css);
@import url(./__list/technologies__list.css);
@import url(./__item/technologies__item.css);
@import url(./__image/technologies__image.css);
@import url(./__content/technologies__content.css);
.technologies {
    padding-top: 32px;
    padding-bottom: 38px;
    background-color: #F5F6F7;
    min-width: 320px;
    max-width: 1440px;
}

@media screen and (min-width: 700px) {
    .technologies {
        padding-top: 65px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .technologies {
        padding-bottom: 90px;
    }
}
